# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt

# Project
output/
temp_videos/
tests/
.env
.pytest_cache
.coverage
htmlcov
